* {
    font-family: Arial, Helvetica, sans-serif;
    color: #575366;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f0f5f1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    width: 100%;
    padding-top: 18px;
    text-align: center;
}

input {
    outline: none;
    border-style: none;
    margin: 10px;
    height: 30px;
    text-align: center;
}

select {
    margin: 10px;
    font-weight: bold;
    color: #180505;
}

input[type="button"] {
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 3px 8px #9ba399;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #aaffbd;
    height: 50px;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 5px 0 5px; 
    border-right: solid 2px #575366;
    height: 100%;
    cursor: pointer;
}

nav ul li a {
    color: #4c4955;
}

form {
    background-color: #6e7dab;
    width: 320px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px #48526e;
}

label {
    color: #f0f4ff;
}

#inputs-cal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 20px;
}

.fundamentacion {
    display: none;
    margin: 30px;
}

.portada, .portada p {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#resultado, #resumen {
    display: flex;
    justify-content: center;
    align-content: center;
}

table {
    background-color: #575366;
    border: solid #2b2536 1px;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
}

table td{
    background-color: #a9b7ce;
    padding: 25px;
    border: solid #194e84 1px;
    text-align: center;
    border-radius: 3px;
}

table th {
    color: #e2ffe6;
    padding: 10px;
    background-color: #191d32;
    border-radius: 5px;
}

table th:last-of-type {
    border-right-style: none;
}

img {
    width: 100px;
}

input[type="button"]:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
}

input[type="button"]:active {
    transform: translateY(4px);
    box-shadow: 3px 4px #4e514d;
}

nav li:hover, nav li a:hover {
    box-shadow: 0 4px #302e4d;
    background-color: #8291c0;
    color: #303755 !important;
}

tr:hover {
    transform: scale(1.03);
}

.none:hover {
    transform: scale(1);
}